<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= t('nav_bar.name') %></a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to t('nav_bar.home'), root_path %></li>
      <li><%= link_to t('nav_bar.users'), users_path %></li>
      <li><%= link_to t('nav_bar.books'), books_path %></li>
      <li><%= link_to t('nav_bar.borrow'), new_borrow_path %></li>
      <li><%= link_to t('nav_bar.return'), return_path %></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('nav_bar.language') %><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to_unless I18n.locale == :en, t('nav_bar.en'), locale: :en %></li>
          <li><%= link_to_unless I18n.locale == :fr, t('nav_bar.fr'), locale: :fr %></li>
        </ul>
    </ul>
  </div>
</nav>