<div id="user-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= t('form_user.' + params[:action]) %> <%= t('form_user.model') %></h4>
      </div>
      <%= form_for @user, remote: true do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label t('form_user.first_name') %>
          <%= f.text_field :first_name, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label t('form_user.last_name') %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label t('form_user.email') %>
          <%= f.text_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label t('form_user.photo') %>
          <%= f.file_field :photo, class: "btn btn-default" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('form_user.close') %></button>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>