<tr id="user_<%= user.id %>">
	<td><% if user.photo.present? %>
		<%= image_tag user.photo.url(:small_thumb) %>
	<% else %>
		<%= t('users_partial.photo') %>
	<% end %></td>
	<td><%= user.first_name %></td>
	<td><%= user.last_name %></td>
	<td><%= user.email %></td>
	<td><%= t('users_partial.' + user.state_machine) %></td>
	<td><% if user.borrows.length > 0 %>
	  	<ul>
			<% user.borrows.each do |borrow| %>
				<li><%= link_to borrow.book.title, book_path(borrow.book) %></li>
			<% end %>
		</ul>
	<% else %>
		<%= t('users_partial.book') %>
	<% end %></td>
	<td><%= link_to t('users_partial.show'), user %> | 
	    <%= link_to t('users_partial.edit'), edit_user_path(user), remote: true %> | 
	    <%= link_to t('users_partial.delete'), user, method: :delete, data: { confirm: t('users_partial.confirm') }, :remote => true %></td>
</tr>
