<% if @user.errors.blank? %>
  $('#notice').text("");
  $('#user-modal').modal('hide');
  $('table tbody').append('<%= j render "user_row", user: @user %>');
<% else %>
  $('#notice').text("");
  $('.modal-header').append('<ul><% @user.errors.full_messages.each do |error| %><li><%= "#{error}" %></li><% end %></ul>');
<% end %>