<% if !@check %>
  alert('<%= t("users_partial.not_destroy", :first_name => @user.first_name, :last_name => @user.last_name)%>');
<% else %>
  alert('<%= t("users_partial.destroy", :first_name => @user.first_name, :last_name => @user.last_name)%>');
  $("#user_<%=@user.id%>").remove();
<% end %>