<p id="notice"><%= notice %></p>

<h1><%= t('users.title') %></h1>

<%= link_to t('users.new'), new_user_path, remote: true, class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th><%= t('users.photo') %></th>
      <th><%= t('users.last_name') %></th>
      <th><%= t('users.first_name') %></th>
      <th><%= t('users.email') %></th>
      <th><%= t('users.state_machine') %></th>
      <th><%= t('users.books') %></th>
      <th><%= t('users.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%= render 'user_row', user: user %>
    <% end %>
  </tbody>
</table>

<%= link_to t('users.new'), new_user_path, remote: true, class: "btn btn-primary" %>
