<p id="notice"><%= notice %></p>

<div class="col-md-4">
    <div class="card">
        <div class="card-block">
            <h2 class="card-title mt-3"><%= @user.last_name %> <%= @user.first_name %></h2>
            <p><%= @user.email %></p>
            <p><%= t('user.' + @user.state_machine) %></p>
            <hr>
            <p><%= t('user.books') %></p>
            <ul>
            	<% if @user.borrows.length > 0 %>
					<% @user.borrows.each do |borrow| %>
						<li><%= link_to borrow.book.title, book_path(borrow.book) %></li>
					<% end %>
			  	<% else %>
					<li><%= t('user.book') %></li>
			  	<% end %>
            </ul>
            <hr>
            <div class="card-text">
              <% if @user.photo.present? %>
				<%= image_tag @user.photo.url(:small_thumb) %>
			  <% else %>
				<%= t('user.photo') %>
			  <% end %>
            </div>
        </div>
        <div class="card-footer">
            <small><%= t('user.update') %><%= I18n.localize @user.updated_at, format: :date %></small></br>
            <%= link_to t('user.back'), users_path %>
        </div>
    </div>
</div>