<h1><%= t('home.title')%></h1>

<table class="table">
	<thead>
		<tr>
			<th><%= t('home.nb_books')%></th>
			<th><%= t('home.nb_books_available')%></th>
			<th><%= t('home.nb_books_borrowed')%></th>
			<th><%= t('home.nb_users')%></th>
			<th><%= t('home.nb_users_with_book')%></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @nb_books %></td>
			<td><%= @nb_books_available %></td>
			<td><%= @nb_books_unavailable %></td>
			<td><%= @nb_users %></td>
			<td><%= @nb_users_borrower %></td>
		</tr>
	</tbody>
</table>

