<tr id="book_<%= book.id %>">
	<td><%= book.title %></td>
	<td><%= book.author %></td>
	<td><%= book.summary %></td>
	<td><%= t('books_partial.' + book.state_machine) %></td>
	<td><%= book.quantity %> / <%= book.quantity_total %></td>
	<td><% if book.borrows.length > 0 %>
		<ul><% book.borrows.each do |borrow| %>
			<li><%= link_to (borrow.user.first_name + ' ' + borrow.user.last_name), user_path(borrow.user) %></li>
		<% end %></ul>
	<% else %>
		<%= t('books_partial.user') %>
	<% end %></td>
	<td><%= link_to t('books_partial.show'), book %> | 
	    <%= link_to t('books_partial.edit'), edit_book_path(book), remote: true %> | 
	    <%= link_to t('books_partial.delete'), book, method: :delete, data: { confirm: t('books_partial.confirm') }, :remote => true %></td>
</tr>