<div id="book-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= t('form_book.' + params[:action]) %> <%= t('form_book.model') %></h4>
      </div>
      <%= form_for @book, remote: true do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label t('form_book.title') %>
          <%= f.text_field :title, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label t('form_book.author') %>
          <%= f.text_field :author, class: "form-control" %>
        </div>

        <div class="form-group" style="resize:none;">
          <%= f.label t('form_book.summary') %>
          <%= f.text_area :summary, class: "form-control", rows: 5, id: "comment" %>
        </div>

        <div class="form-group">
          <%= f.label t('form_book.quantity') %>
          <%= f.number_field :quantity, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label t('form_book.quantity_total') %>
          <%= f.number_field :quantity_total, class: "form-control" %>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('form_book.close') %></button>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
