<% if @book.errors.blank? %>
  $('#notice').text("");
  $('#book-modal').modal('hide');
  $('table tbody').append('<%= j render "book_row", book: @book %>');
<% else %>
  $('#notice').text("");
  $('.modal-header').append('<ul><% @book.errors.full_messages.each do |error| %><li><%= "#{error}" %></li><% end %></ul>');
<% end %>