<% if !@check %>
	alert('<%= t("books_partial.not_destroy", :book => @book.title)%>');
<% else %>
  alert('<%= t("books_partial.destroy", :book => @book.title)%>');
  $("#book_<%=@book.id%>").remove();
<% end %>