<p id="notice"><%= notice %></p>

<h1><%= t('books.title') %></h1>

<%= link_to t('books.new'), new_book_path, remote: true, class: "btn btn-primary" %>

<table class="table">
    <tr>
      <th><%= t('books.book_title') %></th>
      <th><%= t('books.author') %></th>
      <th><%= t('books.summary') %></th>
      <th><%= t('books.state_machine') %></th>
      <th><%= t('books.quantity') %></th>
      <th><%= t('books.users') %></th>
      <th><%= t('books.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <%= render 'book_row', book: book %>
    <% end %>
  </tbody>
</table>

<%= link_to t('books.new'), new_book_path, remote: true, class: "btn btn-primary" %>