<p id="notice"><%= notice %></p>

<div class="col-md-4">
    <div class="card">
        <div class="card-block">
            <h2 class="card-title mt-3"><%= @book.title %></h2>
            <hr>
            <ul>
            	<li><%= @book.author %></li>
            	<li><%= t('book.' + @book.state_machine) %></li>
            	<li><%= t('book.quantity') %><%= @book.quantity %> / <%= @book.quantity_total %></li>
            </ul>
            <% if @book.borrows.length > 0 %>
            	<hr>
            	<p><%= t('book.users') %></p>
        		<ul>
		  	  		<% @book.borrows.each do |borrow| %>
			  			<li><%= link_to (borrow.user.first_name + ' ' + borrow.user.last_name), user_path(borrow.user) %></li>
			  		<% end %>
        		</ul>
        	<% end %>
            <hr>
            <div class="card-text">
                <%= @book.summary %>
            </div>
        </div>
        <div class="card-footer">
            <small><%= t('book.update') %><%= I18n.localize @book.updated_at, format: :date %></small></br>
            <%= link_to t('book.back'), books_path %>
        </div>
    </div>
</div>
