<div class="container">
  <%= form_for @borrow, :url => @url, :html => { :multipart => true }, remote: :true do |f| %>
    <div class="form-group">
      <%= f.label t('form_borrow.user') %><br>
      <%= f.text_field :user_email, data: { autocomplete_source: users_path }, class: "form-control", id: "user_email" %>
    </div>

    <div class="form-group">
      <%= f.label t('form_borrow.book') %><br>
      <%= f.text_field :book_title, data: { autocomplete_source: books_path }, class: "form-control", id: "book_title" %>
    </div>

    <div class="form-group">
      <%= f.submit @button_name, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>