<% if @borrow.present? %>
  $('#notice').text("");
  $('#book_title').val("");
  $('#notice').append('<%=  t("controller.borrow.return", :book => @book.title, :first_name=> @user.first_name, :last_name =>@user.last_name)%>');
<% else %>
  $('#notice').text("");
  $('#notice').append('<ul><% @error.each do |error| %><li><%= error %></li><% end %></ul>');
<% end %>