<p id="notice"></p>

<div id="container">
	<div id="form">
		<%= render "form_borrow" %>
	</div>
	<div id="preview">
        <div class="card-block">
            <h2 class="card-title mt-3" id="name"><%= t('borrow.new.utilisateur') %></h2>
            <hr>
            <ul id="books">
            </ul>
        </div>
	</div>
</div>