ul.ui-autocomplete {
	postion:absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	border: solid 1px #999;
	cursor: default;
	li {
		background-color: #FFF;
		border-top: solid 1px #DDD;
		margin: 0;
		padding: 0;
		a {
			color: #000;
			display: block;
			padding: 3px;
		}
		a.ui-state-hover, a.ui-state-active {
			background-color: #FFFCB2;
		}
	}
}

#notice {
	color: red;
	font-weight: bold;
}

#form {
	width: 40%;
}

#preview {
	width: 40%;
}

#container {
	display: flex;
}

.container {
	width: initial;
}